

/*//////////////////////////////////////////////////////////////////
[ FONT ]*/


@font-face {
  font-family: OpenSans-Regular;
  src: url('../fonts/OpenSans/OpenSans-Regular.ttf'); 
}



/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/
* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: sans-serif;
}

#modechange {
  background-color: #005730; /* Green background */
  border: 1px solid #00331c; /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  margin: 10px;
  cursor: pointer; /* Pointer/hand icon */
  width: 150px;
  height: 60px;
  text-align: center;
}

#scriptsoraudios {
  background-color: #005730; /* Green background */
  border: 1px solid #00331c; /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  margin: 10px;
  cursor: pointer; /* Pointer/hand icon */
  width: 150px;
  height: 60px;
  text-align: center;
}

#requests {
  background-color: #005730; /* Green background */
  border: 1px solid #00331c; /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  margin: 10px;
  cursor: pointer; /* Pointer/hand icon */
  width: 150px;
  height: 60px;
  text-align: center;
}

#topbuttons {
  position: absolute;
  top: 0;
  right: 0;
}


/* ------------------------------------ */
a {
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
}

/* ------------------------------------ */
h1 {margin-bottom:20px; color: rgb(235, 235, 235);}
h2,h3,h4,h5,h6 {margin: 0px;}

p {margin: 0px;}

ul, li {
	margin: 0px;
	list-style-type: none;
}


/* ------------------------------------ */
input {
  display: block;
	outline: none;
	border: none !important;
}

textarea {
  display: block;
  outline: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

/* ------------------------------------ */
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}

footer {
  background-color: rgb(12, 12, 12);
  text-align: center;
  color: rgb(235, 235, 235);
}


/*//////////////////////////////////////////////////////////////////
[ Utiliti ]*/






/*//////////////////////////////////////////////////////////////////
[ Table ]*/

.limiter {
  width: 100%;  
  margin: 0 auto;
}

.container-table100 {
  width: 100%;
  min-height: 100vh;
  background: rgb(12, 12, 12);

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 33px 30px;
}

.wrap-table100 {
  width: 1170px;
}

table {
  border-spacing: 1;
  border-collapse: collapse;
  background: #222222;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative;
  margin-top: 10px;
}
table * {
  position: relative;
}
table td, table th {
  padding-left: 8px;
}
table thead tr {
  height: 60px;
  background: #353535;
}
table tbody tr {
  height: 50px;
}
table tbody tr:last-child {
  border: 0;
}
table td, table th {
  text-align: left;
}
table td.l, table th.l {
  text-align: right;
}
table td.c, table th.c {
  text-align: center;
}
table td.r, table th.r {
  text-align: center;
}

table a {
  color: rgb(77, 175, 255);
}


.table100-head th{
  font-family: OpenSans-Regular;
  font-size: 18px;
  color: #00ad5f;
  line-height: 1.2;
  font-weight: unset;
}

tbody tr:nth-child(even) {
  background-color: #444444;
}

tbody tr {
  font-family: OpenSans-Regular;
  font-size: 15px;
  color: rgb(235, 235, 235);
  line-height: 1.2;
  font-weight: unset;
}


.column1 {
  width: 170px;
  padding-left: 20px;
  text-align: center;
}

.column2 {
  padding:15px;
  width: 300px;
}

.column3 {
  width: 300px;
}

.column4 {
  width: 110px;
  text-align: center;
}

.column5 {
  width: 140px;
  text-align: right;
  padding-right: 30px;
}

select {
  background-color: #444444;
  color: rgb(235, 235, 235);
}

p {
  text-align: left;
}


@media screen and (max-width: 992px) {

  body {
    background: rgb(12, 12, 12);
  }

  #modechange {
    width: 95%;
  }

  #scriptsoraudios {
    width: 95%;
  }

  #topbuttons {
    position: relative;
  }

  table {
    display: block;
  }
  table > *, table tr, table td, table th {
    display: block;
  }
  table thead {
    display: none;
  }
  table tbody tr {
    height: auto;
    padding: 37px 0;
  }
  table tbody tr td {
    padding-left: 40% !important;
    margin-bottom: 24px;
  }
  table tbody tr td:last-child {
    margin-bottom: 0;
  }
  table tbody tr td:before {
    font-family: OpenSans-Regular;
    font-size: 14px;
    color: #999999;
    line-height: 1.2;
    font-weight: unset;
    position: absolute;
    width: 40%;
    left: 30px;
    top: 0;
  }
  table tbody tr td:nth-child(1):before {
    content: "Script Title";
  }
  table tbody tr td:nth-child(2):before {
    content: "Synopsis";
  }
  table tbody tr td:nth-child(3):before {
    content: "Tags";
  }
  table tbody tr td:nth-child(4):before {
    content: "Fills";
  }
  table tbody tr td:nth-child(5):before {
    content: "Category";
  }
  
  .column1 {
    padding-top: 10px;
  }

  .column5 {
    padding-bottom: 10px;
  }

  .column1,
  .column4,
  .column5,
  .column6 {
    text-align: left;
    padding-left:0;
  }

  .column4,
  .column5,
  .column6,
  .column1,
  .column2,
  .column3 {
    width: 100%;
  }

  tbody tr {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .container-table100 {
    padding-left: 15px;
    padding-right: 15px;
  }
}
